<div class="col-md-3 sidebar">
    <nav class="nav flex-column">
        <a class="nav-link {% if request.endpoint == 'doctor_dashboard' %}active bg-primary text-white rounded{% endif %}" href="{{ url_for('doctor_dashboard') }}">
            <i class="fas fa-tachometer-alt me-2"></i> Dashboard
        </a>
        <a class="nav-link {% if request.endpoint == 'doctor_upcoming_appointments' %}active bg-primary text-white rounded{% endif %}" href="{{ url_for('doctor_upcoming_appointments') }}">
            <i class="fas fa-calendar-alt me-2"></i> Upcoming Appointments
        </a>
          <a class="nav-link {% if request.endpoint == 'doctor_cancelled_appointments' %}active bg-primary text-white rounded{% endif %}" href="{{ url_for('doctor_cancelled_appointments') }}">
            <i class="fas fa-calendar-alt me-2"></i> Cancelled Appointments
        </a>
        <a class="nav-link {% if request.endpoint == 'doctor_appointment_history' %}active bg-primary text-white rounded{% endif %}" href="{{ url_for('doctor_appointment_history') }}">
            <i class="fas fa-calendar-check me-2"></i> Previous Appointments
        </a>
        <a class="nav-link {% if request.endpoint == 'doctor_set_schedule' %}active bg-primary text-white rounded{% endif %}" href="{{ url_for('doctor_set_schedule') }}">
            <i class="fas fa-user-md me-2"></i> Set Schedule
        </a>
        <a class="nav-link {% if request.endpoint == 'doctor_manage_availability' %}active bg-primary text-white rounded{% endif %}" href="{{ url_for('doctor_manage_availability') }}">
            <i class="fas fa-user-md me-2"></i> Manage Schedule
        </a>





        <a class="nav-link {% if request.endpoint == 'doctor_notifications' %}active bg-primary text-white rounded{% endif %}" href="{{ url_for('doctor_notifications') }}">
            <i class="fas fa-bell me-2"></i> Notifications {% if doctor_unread_notifications > 0 %}
            <span class="badge bg-danger">{{ doctor_unread_notifications }}</span>
        {% endif %}
        </a>
    </nav>
</div>
